<% user = @comm.user %>
<% time = @comm.created_at + (current_user ? current_user.time_zone : 0) %>

<ul>
  <li>
      <%= (user ? link_to(user.name, user_path(user)) : "anonymous") %>
      <% if current_user && (current_user.status_admin || current_user.status_moderator) %>
        <small>(<%= @comm.ip_address %>)</small>
      <% end %>
  </li>
  <li><%= link_to(time.strftime("%b %-d, %Y %H:%M:%S"), "/posts/" + @comm.to_post.to_s + "#comment-" + @comm.id.to_s) %></li>
  <li><%= @comm.content %></li>
  <li>
    <% if user && not(user.signature.empty?) %>
    <hr>
    <%= simple_format(user.signature) %>
    <% end %>
  </li>
</ul>

