<% provide(:title, "Sign up") %>

<div class="row small-11 large-12 panel-center">
  <div class="large-12 columns panel-post">
  <div class="large-6 small-12 large-centered columns">

    <h1>Sign up</h1>
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :time_zone %>
      <%= f.select(:time_zone, options_for_select(all_time_zones), class: 'form-control') %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirm password" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create account", class: "small button" %>
    <% end %>
  </div>
  </div>
</div>
