<% provide(:title, @user.name) %>


<div class=row small-11 large-12 panel-center">
  <div class="small-11 small-centered large-12 columns panel-post">
    <h1><%= @user.name %></h1>

<%= form_for(@user) do |f| %>


<% if current_user && current_user.status_admin? %>
    <%= f.label :moderator %>
    <div class="switch">
      <%= f.check_box :status_moderator, :id => "statusModerator" %>
      <label for="statusModerator"></label>
    </div>

    <%= f.label :writer %>
    <div class="switch">
      <%= f.check_box :status_writer, :id => "status_writer" %>
      <label for="status_writer"></label>
    </div>
<% end %>

<% if current_user && (current_user.status_admin? || current_user.status_moderator?) %>
    <%= f.label :commentor %>
    <div class="switch">
      <%= f.check_box :status_commentor, :id=> "status_commentor" %>
      <label for="status_commentor"></label>
    </div>
<% end %>

<% if (current_user == @user) || (current_user && (current_user.status_admin? || current_user.status_moderator?)) %>
    <%= f.label :time_zone %>
    <%= f.select(:time_zone, options_for_select(all_time_zones, @user[:time_zone].to_s)) %>
<% end %>

<% if (current_user == @user) || (current_user && (current_user.status_admin? || current_user.status_moderator?)) %>
    <%= f.label :signature %>
    <%= f.text_area :signature, size: "20x4", resize: "none" %>
<% else %>
    <% #put some styling here %>
    <%= @user.signature %>
<% end %>

<% if (current_user == @user) || (current_user && (current_user.status_admin? || current_user.status_moderator?)) %>
    <%= f.submit "Save changes", class: "small button" %>
<% end %>

<% end %>


  </div>
</div>
