<div class="row panel-content">
<div class="panel-post">

<script type='text/javascript'>
function wordCount(id) {
  id.innerHTML = document.getElementById('content_final').value.split(/[\ |\n|\t]+/).length;
}
</script>

<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="row">
    <div class="large-4 small-8 columns">
      <%= f.label :title %>
      <%= f.text_field :title, :oninput => "makeURL(url_text)", :value => @post.title %>
    </div>
    <div class="large-2 small-4 columns end">
      <label for="url_length">URL Length</label>
      <input type="number" id="url_length" oninput="makeURL(url_text)" min="5" max="50" value="25">
    </div>
  </div>

<div class="row">
  <div class="large-6 columns">

      <%= f.label :url, "URL" %>
      <%= f.text_field :url, :id => "url_text", :value => @post.url %>

  </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <%= f.label :comments_on, "Comments:" %>
    <div class="switch">
      <%= f.check_box :comments_on, :id => "comments_on" %>
      <label for="comments_on"></label>
    </div>
  </div>
  <div class="large-3 columns end">
    <%= f.label :guest_comment, "Guest Comments:" %>
    <div class="switch">
      <%= f.check_box :guest_comment, :id => "guest_comment" %> 
      <label for="guest_comment"></label>
    </div>
  </div>
</div>
 
<div class="row">
  <div class="small-3 columns">
    <span class="button tiny" onclick="wordCount(word_count)">Word Count</span>
  </div>
  <div class="small-3 columns end">
    <p id="word_count"></p>
  </div>
</div> 

<div class="row">
  <div class="large-10 columns panel" style="background-color:#FCFCFC;">
    <%= quill_editor nil, {id: 'content_final', name: 'post[content_final]', rows: '25', value: @post.content_final }  %>
  </div>
</div>

<% if @post.posted == nil then %>
  <% button_titles = ["Save","Publish","Delete"] %>
<% else %>
  <% button_titles = ["Save/Continue", "Save/Quit","Unpublish"] %>
<% end %>
<div class="row">
  <div class="large-2 small-3 columns">
    <span class="small button" onclick="changeText(content_preview)">Preview</span>
  </div>
  <div class="large-2 small-3 columns">
    <%= f.submit button_titles[0], class: "small button", name: "save" %>
  </div>
  <div class="large-2 small-3 columns">
    <%= f.submit button_titles[1], class: "small button" %>
  </div>
  <% if @post.id != nil then %> 
    <div class="large-2 small-3 columns end">
      <%= f.submit button_titles[2], class: "small button", name: "unpublish", data: { confirm: "Are you sure?" } %> 
    </div>
  <% end %>
</div>

<% end %>    


<hr>

<div class="row">
  <div class="large-10 small-12 columns">
    <p id="content_preview"></p>
  </div>
</div>

</div>
</div>
